.sub-item-link:link {
    color: green;
    
}

.sub-item-link:hover {
    color: pink;
}

.sub-item-link:active {
    color: black;
}

.sub-item-link:focus {
    border:2px solid red;
}

.sub-item-link:visited {
    color: purple;
}

.sub-item-link {
  text-decoration: none;
}